    <!-- Inicio de la seccion comidas -->
    <section class="menu-comidas">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestro Menú</h2>
            <div class="menu-comidas-item">
                
                    {{productos}}
                    
                                         
            <div class="limpiar"></div>
            </div>
        
        </div>
    </section>
    <!-- Fin de la seccion comidas -->
