    <!-- Inicio de la seccion comidas -->
    <section class="menu-comidas">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestro Menú</h2>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Pizza</h4>
                    <p class="precio-plato">$1.50</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-burger.jpg" alt="Hamburguesa" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Hamburguesa</h4>
                    <p class="precio-plato">$2.50</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-momo.jpg" alt="Momo" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Momo</h4>
                    <p class="precio-plato">$3.00</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Plato</h4>
                    <p class="precio-plato">$1.50</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>     
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Plato</h4>
                    <p class="precio-plato">$1.50</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>  
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="asset/imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>Plato</h4>
                    <p class="precio-plato">$1.50</p>
                    <p class="desc-plato">Lorem ipsum dolor sit amet.</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>         
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion comidas -->
